target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
# OS files
.DS_Store
.DS_Store?
# Veracode Packager Files
/.veracode/output/

